body {
  font-family: Arial, Helvetica, sans-serif;
}
.date {
  max-width: 400px;
  margin: auto;
}
/*div { border: 1px solid red }*/
.dateHeader{
background-color: #fdd;
float:left;
width: 100%;
padding: 5px 10px 15px;
font-weight: bold;
font-size: 1.25em;
}
.time h3 {
	text-align: right;
}
.mainDetails p, .hideButton button {
	margin-top: 1em;
}
.mainDetails p.contactInfo {
	margin-bottom: 0.25em;
}
.mainDetails p.email {
	margin-top: 0.25em;
}
.otherButtons a {
	text-decoration: none;
}